body{
background-color: #d1d5db;
}

.app{
    width: 1200px;
    margin: 0 auto;
    padding: 1rem;
/* background:#64748b; */
background-color: #334155;
}
.main__section{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1.5rem;
}


.photos{
    width: 199px;
    height: 197px;
    border-radius: 5px;
    /* margin: 1rem; */


}
.card{
    width: 200px;
    display: block;
}
.card-body{
    margin: auto;
    height: 197px;
    width: 199px;
    position: absolute;
    background-color:rgba(0,0,0,0.6);
    z-index: 2;
    top: 0.01rem;
    opacity: 0;
    transition: all 0.3s linear;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #dfdfe0;
    border-radius: 5px;
}
.card-body:hover{
    opacity: 1;
}
.user__img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}
.card-text{
    font-size: 10px;
    margin: 0 5px;
}
.download__btn{
    color: #fff;
    text-decoration: none;
    background-color: rgba(98, 82, 82,0.8);
    padding: 8px;
    border-radius: 5px;
}



.heading{
text-align: center;
margin: 2rem;
}
.title{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    margin: 2rem 28rem;
    background-color: gold;
    padding: 0.5rem;
    border-radius: 3px;

}
.title__img{
    width: 50px;
    margin: 0 1rem;
}
.navbar{
    padding: 0 1rem;
    margin-top: 1.5rem;
}
.nav-items{
    display: flex;
    list-style: none;
}
.nav-link{
    list-style: none;
    margin: 0 0.5rem;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #dfdfe0;
    width: 100px;
    text-align: center;
    transition: all 0.3s linear;
    background-color: #fff;
}
.nav-link:hover{
    background-color:gold;
    transform: scale(1.04);
}
.nav-items .nav-link.active{
    background-color: gold;
}
.search__body{
    /* background-color:#fcfcfc; */
background-color: #334155;

   
    width: 1170px;
    height: 165vh;
    padding: 2rem 0;
    position: absolute;
    z-index: 4;
    top: 8.5rem;
}
.back_btn{
    position: absolute;
    left: 68rem;
    border: none;
    padding: 1rem;
    background-color: #fff;
}
.search{
    text-align: center;
    margin-top: 1.8rem;
}
#search__bar{
    width: 600px;
    padding:0.3rem 1rem;
    border-radius: 10px 0px 0px 10px;
    border:0.1rem solid #dfdfe0;
    font-size: 1rem;
    
}
.search__btn{
    padding:0.3rem 1rem;
    border-radius: 0px 10px 10px 0px;  
    border:0.1rem solid #dfdfe0;
    background-color: gold;
    font-weight: 600;
}
.more__btn{
    width: 8rem;
    border: 1px solid #dfdfe0;
    border-radius: 3px;
    margin: 2rem 33rem;
    background-color: gold;
    transition: all 0.3s linear;
}
.more__btn:hover{
    transform: scale(1.03);
}
@media only screen and (max-width: 600px) {
    .app{
        width: 390px;
        margin: 0;
    }
    #search__bar{
        width: 240px;
    }
    .nav-items{
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 0.5rem;
      padding: 0;
      
    }
    .nav-link{
        margin: 0;
    }
    .title{
        margin:1rem 3rem;
        font-size: 1.5rem;
        width: 15rem;
        border-radius: 20px;
    }
    .main__section{
        grid-template-columns: auto;
    }
    .card{
        width: 355px;
    }
    .photos{
        width: 355px;
    }
    .card-body{
        width: 355px;
    }
    .search__body{
        width: 373px;
        height: auto;
    }
    .back_btn{
        left: 8.5rem;
        top: 0.5rem;
        padding: 0;
    }
    .more__btn{
        margin: 1rem 7rem;
        padding: 0.8rem;
    }
}